#main-content {
  position: absolute;
  width: 92vw;
  left: 0;
  margin-right: 8vw;
  padding-top: 10vh;
  min-width: 900px;

  background-color: var(--background-color);
}

.row {
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border: 0;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

.content-row {
  padding-top: calc(2.5rem + 40px);

  padding-left: 7vw;
  padding-right: 7vw;
  width: 78vw;
  max-width: 1920px;
  min-width: 800px;
  flex: 0 0 auto;
  flex-basis: 78vw;

  padding-bottom: calc(2.5rem + 50px);
}

.full-width-row {
  padding-top: 0rem;

  padding-left: 0px;
  margin-right: 0;
  width: 92vw;
  max-width: 1920px;
  flex: 0 0 auto;
  flex-basis: 92vw;

  padding-bottom: 0rem;
}

/* Problem Section */

.column-2-3 {
  padding-left: 0;
  margin-right: 50px; /*change to 0 for right-hand column*/
  width: calc(66.666% - 50px);
  max-width: calc(66.666% - 50px);
  flex: 0 0 auto;
  flex-basis: calc(66.666% - 50px);
  text-align:justify;
}

.column-1-3 {
  padding-left: 0;
  margin-right: 50px; /*change to 0 for right-hand column*/
  width: calc(33.333% - 50px);
  max-width: calc(33.333% - 50px);
  flex: 0 0 auto;
  flex-basis: calc(33.333% - 50px);
  text-align:justify;
}

#header-img {
  padding-left: 0;
  margin-right: 0; /*change to 0 for right-hand column*/
  width: 100%;
  max-width: 100%;
  flex: 0 0 auto;
  flex-basis: 100%;
  object-fit: cover;
  float: right;
}

/* Objectives Section */

#objectives-section {
  background-color: var(--lt-background-color);
}

#objectives-section .num {
  font-family: adelle-sans-bold;
  font-size: 300px;
  line-height: 300px;
}

#obj-1 {
  color: var(--dk-blue);
}

#obj-2 {
  color: var(--med-blue);
}

#obj-3 {
  color: var(--lt-blue);
}

/* Process Section */

.photo-frame {
  padding: 0 0;
  margin: 0;
}

/* carousel */

.carousel-cell {
  /* aspect ratio: 1920 x 1309 */
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.carousel-cell img {
  width: 100%;
  height: auto;
}

.flickity-button {
  background: transparent;
  color: black;
  width: 30px;
}

.flickity-button:hover {
  background: transparent;
}

.flickity-prev-next-button.previous {
  left: -35px;
}
.flickity-prev-next-button.next {
  right: -35px;
}

.flickity-page-dots {
  display: none;
}

#prototype-section {
  background-color: var(--background-color);
  color: var(--med-font-color);
}

#testing-section {
  background-color: var(--lt-background-color);
}

#testing-section .num {
  font-family: adelle-sans-bold;
  font-size: 300px;
  line-height: 300px;
}

#tst-1 {
  color: var(--dk-blue);
}

#tst-2 {
  color: var(--med-blue);
}

#tst-3 {
  color: var(--lt-blue);
}

#equity-section {
  background-color: var(--v-dk-background-color);
  color: var(--dk-background-font-color);
}

#plans-section {
  background-color: var(--med-background-color);
}

#plans-sheet {
  background-color: var(--background-color);
}

#acknow-section {
  background-color: var(--dk-background-color);
  color: var(--dk-background-font-color);
}

#footer-section {
  background-color: var(--v-dk-background-color);
  color: var(--dk-background-font-color);
}

#footer-section li {
  padding: 0 25px;
  min-width: 120px;
  white-space: nowrap;
}